<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-12">
          <h6 class="h2 text-dark d-inline-block mb-0">Kelulusan Permit</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-file-import text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-4">
          <div class="card bg-success card-stats">
            <div class="card-body">
              <div class="row">
                <div class="try1">
                  <div class="col">
                    <h5
                      class="
                        card-title
                        text-uppercase text-white text-muted
                        mb-3
                      "
                    >
                      Tender yang Diluluskan
                    </h5>
                  </div>
                  <div class="col">
                    <h5 class="h2 font-weight-bold text-white mb-2">351</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-4">
          <div class="card bg-warning card-stats">
            <div class="card-body">
              <div class="row">
                <div class="try1">
                  <div class="col">
                    <h5
                      class="
                        card-title
                        text-uppercase text-white text-muted
                        mb-3
                      "
                    >
                      Tender yang Sedang Diproses
                    </h5>
                  </div>
                  <div class="col">
                    <h5 class="h2 font-weight-bold text-white mb-2">211</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-4">
          <div class="card bg-danger card-stats">
            <div class="card-body">
              <div class="row">
                <div class="try1">
                  <div class="col">
                    <h5
                      class="
                        card-title
                        text-uppercase text-white text-muted
                        mb-3
                      "
                    >
                      Tender yang Tidak Diluluskan
                    </h5>
                  </div>
                  <div class="col">
                    <h5 class="h2 font-weight-bold text-white mb-2">101</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mb-0">Paparan Jumlah Tender</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdivapprovalapplication1"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-8">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mb-0">Paparan Jumlah Tender Mengikut Bulanan</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdivapprovalapplication2"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <h3 class="m-0">Paparan Status Permohonan</h3>
        </div>
        <div class="card-body">
          <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Tunjukkan
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="3" [selected]="entries == 3">3</option>
                      <option value="6" [selected]="entries == 6">6</option>
                      <option value="9" [selected]="entries == 9">9</option>
                      <option value="-1" [selected]="entries == -1">
                        semua
                      </option>
                    </select>
                    rekod
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Cari rekod"
                      aria-controls="datatable"
                      (keyup)="filterTable($event)"
                    />
                  </label>
                </div>
              </div>
            </div>

            <ngx-datatable
              class="bootstrap selection-cell"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="temp"
            >
              <!-- <ngx-datatable-column>
                  <ng-template ngx-datatable-header-template>
                    <span> No. </span>
                  </ng-template>
                  <ng-template
                    ngx-datatable-cell-template
                    let-rowIndex="rowIndex"
                    let-row="row"
                  >
                    {{ rowIndex + 1 }}
                  </ng-template>
                </ngx-datatable-column> -->
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> ID </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.project }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Nama </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.name }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> No. Permit </span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.permit }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span> Tarikh Hantar</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.date }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Status</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span
                    *ngIf="row.status == 'checked'"
                    class="badge badge-pill badge-success"
                    >Diluluskan</span
                  >
                  <span
                    *ngIf="row.status == 'inproses'"
                    class="badge badge-pill badge-warning"
                    >Dalam Proses</span
                  >
                  <span
                    *ngIf="row.status == 'unchecked'"
                    class="badge badge-pill badge-danger"
                    >Tidak Diluluskan</span
                  >
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span>Status</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <button
                    class="btn btn-icon btn-danger btn-sm"
                    type="button"
                    title="Action"
                    (click)="openModal(viewAction)"
                  >
                    <span class="btn-inner--icon">
                      <i class="fas fa-file-pdf"> </i>
                    </span>
                  </button>
                  <!-- <button
                    class="btn btn-icon btn-default btn-sm"
                    type="button"
                    title="View"
                    (click)="openModal(viewAction)"
                  >
                    <span class="btn-inner--icon">
                      <i class="far fa-eye"> </i>
                    </span>
                  </button>
                  <button
                    class="btn btn-icon btn-success btn-sm"
                    type="button"
                    title="Download"
                    (click)="successSwal('downloaded')"
                  >
                    <span class="btn-inner--icon">
                      <i class="fas fa-download"> </i>
                    </span>
                  </button> -->
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #viewAction>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white" id="modal-title-default">
      Paparan Terperinci
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="modalRef.hide()"
    >
      <span class="text-white" aria-hidden="true"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <!-- BEGIN INVOICE -->
      <div class="col-xl-12">
        <div class="grid invoice">
          <div class="grid-body">
            <div class="invoice-title">
              <div class="row">
                <div class="col-xl-12">
                  <img [src]="imgLogo" alt="" height="35" />
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-xl-12">
                  <h2>
                    invoice<br />
                    <span class="small">order #1082</span>
                  </h2>
                </div>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-xl-6">
                <address>
                  <strong>Billed To:</strong><br />
                  Twitter, Inc.<br />
                  795 Folsom Ave, Suite 600<br />
                  San Francisco, CA 94107<br />
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
              </div>
              <div class="col-xl-6 text-right">
                <address>
                  <strong>Shipped To:</strong><br />
                  Elaine Hernandez<br />
                  P. Sherman 42,<br />
                  Wallaby Way, Sidney<br />
                  <abbr title="Phone">P:</abbr> (123) 345-6789
                </address>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <address>
                  <strong>Payment Method:</strong><br />
                  Visa ending **** 1234<br />
                  ali.imran@gmail.com<br />
                </address>
              </div>
              <div class="col-xl-6 text-right">
                <address>
                  <strong>Order Date:</strong><br />
                  17/06/2020
                </address>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h3>ORDER SUMMARY</h3>
                <table class="table table-striped">
                  <thead>
                    <tr class="line">
                      <td><strong>#</strong></td>
                      <td class="text-center"><strong>PROJECT</strong></td>
                      <td class="text-center"><strong>HRS</strong></td>
                      <td class="text-right"><strong>RATE</strong></td>
                      <td class="text-right"><strong>SUBTOTAL</strong></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>
                        <strong>Template Design</strong><br />
                        <!-- A website template
                        is a pre-designed webpage, or set of webpages, that
                        anyone can modify with their own content and images to
                        setup a website. -->
                      </td>
                      <td class="text-center">15</td>
                      <td class="text-center">RM75</td>
                      <td class="text-right">RM1,125.00</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>
                        <strong>Template Development</strong><br />
                        <!-- Web
                        development is a broad term for the work involved in
                        developing a web site for the Internet (World Wide Web)
                        or an intranet (a private network). -->
                      </td>
                      <td class="text-center">15</td>
                      <td class="text-center">RM75</td>
                      <td class="text-right">RM1,125.00</td>
                    </tr>
                    <tr class="line">
                      <td>3</td>
                      <td>
                        <strong>Testing</strong><br />
                        <!-- Take measures to check the
                        quality, performance, or reliability of (something),
                        especially before putting it into widespread use or
                        practice. -->
                      </td>
                      <td class="text-center">2</td>
                      <td class="text-center">RM75</td>
                      <td class="text-right">RM150.00</td>
                    </tr>
                    <tr>
                      <td colspan="3"></td>
                      <td class="text-right"><strong>SST</strong></td>
                      <td class="text-right"><strong>N/A</strong></td>
                    </tr>
                    <tr>
                      <td colspan="3"></td>
                      <td class="text-right"><strong>Total</strong></td>
                      <td class="text-right"><strong>RM2,400.00</strong></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-right identity">
                <!-- <p>Designer identity<br /><strong>Jeffrey Williams</strong></p> -->
                <img [src]="imgLogo1" alt="" height="250"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END INVOICE -->
    </div>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-default text-white"
      type="button"
      class="btn btn-success"
      (click)="successSwal('dicetak')"
    >
      Cetak
    </button>
    <button
      class="btn btn-outline-danger ml-auto"
      data-dismiss="modal"
      type="button"
      (click)="modalRef.hide()"
    >
      Tutup
    </button>
  </div>
</ng-template>
