<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">Laman Utama</h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-home text-dark"> </i>
                </a>
              </li>
            </ol>
          </nav>
        </div>

        <div class="col-lg-6 col-5 text-right">
          <!-- <a class="btn btn-sm btn-neutral" href="javascript:void(0)"> New </a>
  
            <a class="btn btn-sm btn-neutral" href="javascript:void(0)">
              Filters
            </a> -->
          <h6 class="h2 text-dark d-inline-block mb-0">{{ test | date }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="imgcenter">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body bg-default">
            <img [src]="imgLogo" alt="Pemerkasaan Akta 795" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mb-0">Statistik Pengurusan</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdivuserdashboard1"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row align-items-center">
            <div class="col">
              <h5 class="h3 mb-0">Statistik Faedah</h5>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="chart">
            <div class="amchart" id="chartdivuserdashboard2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
